- content_for :include_stylesheets do
  = stylesheet_link_tag "viz/song"

- content_for :include_javascripts do
  = javascript_include_tag "viz/song"

%div#song_info
  = @song_path

%div#controls
  %a{ :href => "#", "data-song-path" => @song_path, "data-song-action" => "play" } Play
  %a{ :href => "#", "data-song-path" => @song_path, "data-song-action" => "stop" } Stop

%div#viz_container
